<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<!--container-start-->
<div class="container">
    <div class="row">
        <!--content-start-->
        <div class="col-md-9">
            <div id="content">
                <div class="row">
                    <!--breadcrumb-start-->
                    <div class="col-md-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Business</li>
                            </ol>
                        </nav>
                    </div>
                    <!--breadcrumb-end-->

                    <% if(typeof posts !== 'undefined'){ %>
                    <% posts.forEach(function(post, key) { %>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="https://media.gettyimages.com/photos/arch-bridge-in-kromlau-picture-id539121576?s=612x612"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%= post.title %></h5>
                                <p class="card-text"><%= post.content %></p>
                                <a href="/single/<%= post.id %>" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <% } %>

                    <div class="col-md-12 mt-4 d-flex align-items-center justify-content-center">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="<%= locals.url.pathname %>?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="<%= locals.url.pathname %>?page=2">2</a></li>
                            <li class="page-item"><a class="page-link" href="<%= locals.url.pathname %>?page=3">3</a></li>
                            <li class="page-item"><a class="page-link" href="<%= locals.url.pathname %>?page=4">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--content-end-->

        <!--sidebar-start-->
        <div class="col-md-3">
            <%- include partials/sidebar.ejs %>
        </div>
        <!--sidebar-end-->
    </div>
</div>
<!--container-end-->

<%- include partials/footer.ejs %>
