<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<!--container-start-->
<div class="container">
    <div class="row">
        <!--content-start-->
        <div class="col-md-9">
            <div id="content">
                <div class="row">
                    <!--breadcrumb-start-->
                    <div class="col-md-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Business</li>
                            </ol>
                        </nav>
                    </div>
                    <!--breadcrumb-end-->

                    <% if(typeof post !== 'undefined'){ %>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="image-height">
                                <img src="https://media.gettyimages.com/photos/arch-bridge-in-kromlau-picture-id539121576?s=612x612"
                                     alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><%= post.title %></h5>
                                <p class="card-text"><%= post.content %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!--content-end-->

        <!--sidebar-start-->
        <div class="col-md-3">
            <%- include partials/sidebar.ejs %>
        </div>
        <!--sidebar-end-->
    </div>
</div>
<!--container-end-->

<%- include partials/footer.ejs %>
